.App {
	text-align: center;
}

.App-header {
	font-size: 100px;
	font-weight: 100;
	color: rgba(175, 47, 47, 0.15);
}

.App-content {
	display: flex;
	justify-content: center;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
